/* Global */
body {
    margin: 0px;
    padding: 0px;
}

/* About Us */

.title {
    display: flex;
    flex-direction: column;
    height: 40px;
    padding: 40px 0px;
    margin: 0px;
}

.pageTitleDiv {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: rgba(169, 169, 169, 0.31);
}

.pageTitle {
    font-size: 4.2vw ;
    padding-left: 15px;
}

.aboutUs {
    display: flex;
    margin-bottom: 15px;
    width: 100%;
    height: 100px;
    align-items: center;
    padding-left: 20px; 
    font-size: 4.2vw;
    background-color: rgba(169, 169, 169, 0.344);
}

.AboutUsInfo {
    margin: 40px 90px;
}

.description{
    font-size: 1.2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-left: 10px;
}

.crewImage {
    display: flex;
    justify-self: center;
    width: 55vw;
    height: 35vw;
    box-shadow: 3px 4px 10px black;
}

.imageAndDescription {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 40px 90px;
    align-items: middle;
}

.descTitle {
    font-size: 1.5vw;
    font-weight: 700;
}

.descText {
    padding: 10px 10px;
}
 
.tools {
    display: flex;
    flex-direction: column;
}

#calculatorInTools {
    display: flex;
    justify-self: center;
    align-self: center;
}


@media screen and (max-width: 800px) {
    .title {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 50px 200px;
    }
    
    .aboutUs {
        display: flex;
        flex-direction: row;
        font-size: 4.2vw;
    }
    
    .description{
        font-size: 2.2vw;
        padding: 0px 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        padding-left: 10px;
    }
    
    .crewImage {
        width: 85vw;
        height: 75vw;
        margin-bottom: 50px;
    }
    
    .imageAndDescription {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .descTitle {
        font-size: 18px;
        font-weight: 700;
    }
    
    .descText {
        padding: 10px 10px;
    }
     
    .tools {
        display: flex;
        flex-direction: column;
    }
    
    #calculatorInTools {
        display: flex;
        justify-self: center;
        align-self: center;
    }
}



/*Calculator */

.calculator {
    display: flex;
    flex-direction: column;
    align-self: center;
    background-color: rgba(194, 232, 200, .5);
    width: 300px;
    margin-top: 15px;
    padding: 10px 10px;
    border-radius: 15px;
    border: 2px solid #184b1d;
}

.calculatorInputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.calculatorOutterSection{
    display: flex;
    justify-items: center;
}

.calculatorSection {
    display: flex;
    border-radius: 15px;
    justify-self: center;
    border: 2px solid black;
    padding: 10px;
    margin-top: 20px;
    width: 700px;
    background-color: rgba(136, 136, 136, 0.432);
}

.calculatorInfo {
    margin-top: 5%;
    width: 400px;
    padding: 5px 10px;
}

.calculatorOutterDiv {
    display: flex;
    align-self: center;
}

.calculatorInfoTitle {
    display: flex;
    justify-content: center;
    font-size: 45px;
    font-weight: 400;
}
.calculatorLengthField {
    display: flex;
    width: 90px;
}

.calculatorLengthField:focus {
    outline: none !important;
    border-color: #67aa7a;
    box-shadow: 0 0 10px #67aa7a;
}

.calculatorCheckBoxField {
    display: flex;
    padding: 5px 5px;
    margin-left: 5px;
}

.calculatorCheckBoxField:focus {
    outline: none !important;
    margin-left: 5px;
    border-color: #67aa7a;
    box-shadow: 0 0 10px #67aa7a;
}

.calculatorCheckbox {
    margin-left: 5px;
    color: red;
}

.calculatorSelectorField {
    display: flex;
    width: 190px;
}

.calculatorSelectorField:focus {
    outline: none !important;
    border-color: #67aa7a;
    box-shadow: 0 0 10px #67aa7a;
}

.calculatorTitle {
    justify-self: center;
    align-self: center;
    font-size: 22px;
    font-weight: 900;
}

.inputTitles {
    font-size: 17px;
    font-weight: 300;
    font-weight: 700;
    color: #184b1d;
}


@media screen and (max-width: 800px){
    .calculatorSection {
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        justify-self: center;
        border: 2px solid black;
        padding: 10px;
        margin-top: 20px;
        width: 75%;
        background-color: rgba(136, 136, 136, 0.432);
    }
    .calculatorInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-self: center;
        margin-top: 5%;
        width: 85%;
        padding: 5px 10px;
    }
}


/* Card Component */

.divBox {
    display: flex;
    justify-content: center;
    align-content: center;
}

#CardTitles {
    font-size: 20px;
}

.cardImage {
    display: flex;
    justify-content: space-evenly;
    height: 20vw;
    width: 20vw;
    border: solid black 2px;
    margin-top: 15px;
    border-radius: 12px;
}

.cardBody {
    display: none;
    position: absolute;
    justify-content: center;
    flex-direction: column;
    height: 15vw;
    width: 20vw;
    font-size: 1.2vw;
    margin-top: 50px;
    color: white;
    background-color: rgba(0, 0, 0, 0.269);
    border-radius: 20px;
    text-shadow: rgb(1, 1, 1) 2px 2px 8px;
}

.cardBody:hover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    margin-top: 50px;
    height: 15vw;
    width: 20vw;
    font-size: 1.2vw;
    color: white;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.269);
    text-shadow: rgb(0, 0, 0) 2px 2px 8px;
}

.cardImage:hover + .cardBody {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    margin-top: 7 0px;
    height: 15vw;
    width: 20vw;
    font-size: 1.2vw;
    color: white;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.269);
    text-shadow: rgb(0, 0, 0) 2px 2px 8px;
}

.cardButton {
    color: #184b1d;
    background-color: white;
    border-color: #184b1d;
    padding: 5px 5px;
    border-radius: 5px;
    transition: all .2s ease-in-out;
}

.cardButton:hover {
    border-radius: 5px;
    padding: 5px 5px;
    color: white;
    background-color: #184b1d;
    border-color: white;
    transform: scale(1.2);
}

@media screen and (max-width: 1200px) {
    .cardImage {
        height: 30vw;
        width: 30vw;
    }

    .cardBody {
        height: 23vw;
        width: 30vw;
        font-size: 1.5vw;
    }

    .cardBody:hover {
        height: 23vw;
        width: 30vw;
        font-size: 1.5vw;
    }

    .cardImage:hover + .cardBody {
        height: 23vw;
        width: 30vw;
        font-size: 1.5vw;
    }
  }

  @media screen and (max-width: 684px) {
    .cardImage {
        height: 50vw;
        width: 50vw;
    }

    .cardBody {
        height: 43vw;
        width: 50vw;
        font-size: 2.9vw;
    }

    .cardBody:hover {
        height: 43vw;
        width: 50vw;
        font-size: 2.9vw;
    }

    .cardImage:hover + .cardBody {
        height: 43vw;
        width: 50vw;
        font-size: 2.9vw;
    }
 }

/* Carousel */

.carouselImage {
    position: relative;
    height: 700px;
}

.carousel-caption {
    background-color: rgb(0, 0, 0, .5);
}



/* Featured Project */

.imageSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
}

.featuredTitle {
    display: flex;
    font-size: 50px;
    color: white;
}

.primaryImage {
    display: flex;
    width: 700px;
    height: 600px;
    border: 2px solid #184b1d;
}

.primaryImageBox {
    display: flex;
    width: 700px;
    height: 600px;
    border: 2px solid #184b1d;
}

.secondaryCarousel {
    display: flex; 
    flex-wrap: wrap;
    width: 800px;
    background-color: rgba(0, 0, 0, 0);
}

.secondaryImages {
    display: flex;
    width: 150px;
    height: 150px;
    border: 2px solid darkgreen;
    margin: 10px 5px;
}

#projectLeftArrow {
    position: relative;
    color: white;
    font-size: 45px;
    top: 50%;
    left: -675px;
    transition: all .2s ease-in-out; 
}

#projectLeftArrow:hover {
    position: relative;
    color: white;
    top: 50%;
    left: -675px;
    transform:scale(1.5);
}

#projectRightArrow {
    position: relative;
    color: white;
    font-size: 45px;
    top: 50%;
    left: -120px;
    transition: all .2s ease-in-out; 

}

#projectRightArrow:hover {
    position: relative;
    color: white;
    top: 50%;
    left: -120px;
    transform:scale(1.5);
}
.smallImages {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255, 0, 0, 0);
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 800px){
    .imageSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 20px;
    }
    
    .featuredTitle {
        display: flex;
        font-size: 50px;
        color: white;
    }
    
    .primaryImage {
        display: flex;
        width: 100%;
        height: 200px;
        border: 2px solid darkgreen;
    }
    
    .primaryImageBox {
        display: flex;
        width: 280px;
        height: 200px;
        border: 2px solid darkgreen;
    }
    
    .secondaryCarousel {
        display: flex; 
        flex-wrap: wrap;
        width: 470px;
        background-color: rgba(0, 0, 0, 0);
    }
    
    .secondaryImages {
        display: flex;
        width: 110px;
        height: 110px;
        border: 2px solid darkgreen;
        margin: 10px 5px;
    }
    
    #projectLeftArrow {
        position: relative;
        color: white;
        font-size: 45px;
        top: 50%;
        left: -265px;
        transition: all .2s ease-in-out; 
    }
    
    #projectLeftArrow:hover {
        position: relative;
        color: white;
        top: 50%;
        left: -265px;
        transform:scale(1.5);
    }
    
    #projectRightArrow {
        position: relative;
        color: white;
        font-size: 45px;
        top: 50%;
        left: -110px;
        transition: all .2s ease-in-out; 
    
    }
    
    #projectRightArrow:hover {
        position: relative;
        color: white;
        top: 50%;
        left: -110px;
        transform:scale(1.5);
    }
    .smallImages {
        display: flex;
        flex-wrap: wrap;
        background-color: red;
        flex-direction: column;
        justify-content: center;
    }
}


/*  Fencing Types  */

.fences {
    display: column;
    flex-direction: row;
}

p {
    margin-bottom: 50px;
}

.woodFencesParagraph {
    padding: 50px 150px;
}

.title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
    color: black;
    height: 100px;
    font-size: 3.2vw;
    background-color: rgba(169, 169, 169, 0.365);
}

.info {
    display: flex;
    font-size: 16px;
    color: grey;
    justify-content: center;
}

.fencingUpperInformationBlock {
    margin: 150px 50px;
}

.left {
    display: flex;
    margin-top: 25px;
    justify-content: flex-start;
    margin-bottom: 0px;
}

.right {
    display: flex;
    margin-top: 25px;
    justify-content: flex-end;
    background: whitesmoke;
    padding: 20px;
    margin-bottom: 0px;
}

.project1Text {
    font-size: 18px;
    margin-left: 5%;
    padding: 10px 50px;
}

.project2Text {
    margin-right: 5%;
    font-size: 18px;
    padding: 10px 50px;
}

.project1 {
    position: relative;
    top: 0;
    left: 4%;
    width: 350px;
    height: 100%;
    background: #000;
    border: 3px solid black;
}

.project1 .image {
    width: 340px;
    height: 100%;
    overflow: hidden;
}

.project1 .image img {
    width: 340px;
    height: 100%;
    transition: .5s;
}
.project1:hover .image img {
    opacity: .5;
    transform: translateX(30%);
}
.project1 .details {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background: forestgreen;
    transition: .5s;
    transform-origin: left;
    transform: perspective(350px) rotateY(-90deg);
}
.project1:hover .details {
    transform: perspective(350px) rotateY(0deg);
}
.project1 .details .center {
    padding: 5px;
    text-align: center;
    background: whitesmoke;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.project1 .details .center h1 {
    margin: 0;
    padding: 0;
    color: black;
    line-height: 20px;
    font-size: 20px;
    text-transform: uppercase;
}
.project1 .details .center h1 span {
    font-size: 14px;
    color: #262626;
}
.project1 .details .center p {
    margin: 10px 0;
    padding: 0;
    color: #262626;
    font-size: 12px;
}
.project1 .details .center ul {
    margin: 10px auto 0;
    padding: 0;
    display: table;
}
.project1 .details .center ul li {
    list-style: none;
    margin: 0 5px;
    float: left;
}
.project1 .details .center ul li a {
    display: block;
    background: #262626;
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    transform: .5s;
}
.project1 .details .center ul li a:hover {
    background: #ff3636;
}

.project2 {
    position: relative;
    top: 0;
    left: 4%;
    width: 350px;
    margin-right: 5%;
    height: 100%;
    background: #000;
    border: 3px solid black;
}
.project2 .image {
    width: 340px;
    height: 100%;
    overflow: hidden;
}
.project2 .image img {
    width: 340px;
    height: 100%;
    transition: .5s;
}
.project2:hover .image img {
    opacity: .5;
    transform: translateX(30%);/*100%*/
}
.project2 .details {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;/*100%*/
    height: 100%;
    background: forestgreen;
    transition: .5s;
    transform-origin: left;
    transform: perspective(2000px) rotateY(-90deg);
}
.project2:hover .details {
    transform: perspective(2000px) rotateY(0deg);
}
.project2 .details .center {
    padding: 5px;
    text-align: center;
    background: whitesmoke;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.project2 .details .center h1 {
    margin: 0;
    padding: 0;
    color: black;
    line-height: 20px;
    font-size: 20px;
    text-transform: uppercase;
}
.project2 .details .center h1 span {
    font-size: 14px;
    color: #262626;
}
.project2 .details .center p {
    margin: 10px 0;
    padding: 0;
    color: #262626;
    font-size: 12px;
}
.project2 .details .center ul {
    margin: 10px auto 0;
    padding: 0;
    display: table;
}
.project2 .details .center ul li {
    list-style: none;
    margin: 0 5px;
    float: left;
}
.project2 .details .center ul li a {
    display: block;
    background: #262626;
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    transform: .5s;
}
.project2 .details .center ul li a:hover {
    background: #ff3636;
}

.lowerInformation {
    margin: 50px 50px;
}

@media screen and (max-width: 800px){

    .woodFencesParagraph {
        padding: 50px 50px;
    }
}

@media screen and (max-width: 800px){
    .left {
        display: flex;
        flex-direction: column;
        margin-top: 25px;
        margin-bottom: 0px;
    }

    .right {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 25px;
        background: whitesmoke;
        margin-bottom: 0px;
    }
    .project1 {
        position: relative;
        justify-content: center;
        align-self: center;
        top: 0;
        width: 250px;
        height: 240px;
        background: #000;
        border: 3px solid black;
    }

    .project1 .image {
        width: 240px;
        height: 100%;
        overflow: hidden;
    }

    .project1 .image img {
        width: 240px;
        height: 100%;
        transition: .5s;
    }

    .project2 {
        position: relative;
        justify-content: center;
        align-self: center;
        top: 0;
        width: 250px;
        height: 240px;
        background: #000;
        border: 3px solid black;
    }


    .project2 .image {
        width: 240px;
        height: 100%;
        overflow: hidden;
    }

    .project2 .image img {
        width: 240px;
        height: 100%;
        transition: .5s;
    }

    .project1Text {
        font-size: 18px;
    }
    .project2Text {
        font-size: 18px;
    }
}


/* Footer  */

.footerDiv {
    display: flex;
    color: white;
    background-color: #194b1e;
    height: 100%;
    width: 100%;
    margin-top: 35px;
    margin-bottom: 0px;
}

.Info {
    display: flex;
    flex-direction: column;
    font-size: 1.6vw;
    margin-left: 10px;
    font-weight: 200;
    text-align: center;
    justify-content: center;
}

.SiteLinks {
    display: flex;
    color: white;
    flex-direction: column;
    width: 900px;
    margin-left: 40px;
    font-weight: 200;
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: center;
    justify-content: center;
    padding: 0px 0px;
}


.Message {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    padding: 0px 10px;
    font-weight: 140;
    margin-top: 20px;
    text-align: center;
    justify-content: center;
}

.footerHeads {
    font-size: 34px;
    text-decoration: underline;
    justify-items: center;
    margin-bottom: 5px;
}

.nav-link {
    font-size: 1.4vw;
    color: white;
    padding: 0px 0px;
    margin: 0px 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    transition: .5s;
}

.nav-link:hover {
    color: green;
    transform: scale(1.5)
}

.nav-link:visited {
    color: white;
    font-size: 18px;
    padding: 0px 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.links {
    font-size: 1.9vw;
    color: white;
}


.messageParagraph {
    font-size: 1.4vw;
}

.footerLogo {
    height: 300px;
    width: 300px;
}

@media screen and (max-width: 700px) {
    .footerDiv {
        display: flex;
        justify-content: center;
        flex-direction: column;
        color: white;
        background-color: #194b1e;
        height: 100%;
      }

    .Info {
        display: flex;
        flex-direction: column;
        align-self: center;
        font-size: 2.9vw;
        font-weight: 200;
        text-align: center;
    }

    .Message {
        display: flex;
        flex-direction: column;
        align-self: center;
        font-size: 4.6vw;
        font-weight: 140;
        margin-top: 20px;
        text-align: center;
    }

    .messageParagraph{
        font-size: 2.6vw;
    }

    .SiteLinks {
        display: none;
        color: white;
        align-self: center;
        font-size: 3.6vw;
        font-weight: 200;
    }

    .footerHeads {
        display: flex;
        flex-direction: column;
        font-size: 4.6vw;
        text-decoration: underline;
        margin-bottom: 5px;
    }

    .footerLogo {
        display: flex;
        align-self: center;
        height: 300px;
        width: 300px;
    }

    .links {
        font-size: 2.6vw;
        width: 100%;
        color: white;
    }
    .nav-link {
        font-size: 2.9vw;
        width: 100%;
        color: white;
        transition: .5s;
    }

    .nav-link:hover {
        color: green;
        transform: scale(1.5)
    }

    .nav-link:visited {
        color: white;
        font-size: 2.9vw;
    }
}


/* Free Estimates */ 

.contactUsTitle {
    display: flex;
    align-items: center;
    padding-left: 15px;
    height: 100px;
    font-size: 4.2vw;
    color: black;
    background-color: rgba(169, 169, 169, 0.31);
}

.contactFormAndInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.formContactInfo {
    display: flex;
    flex-direction: column;
    justify-content:  center;
}

.formBackground {
    height: 350px;
    background-color: rgba(227, 227, 227, 0.714);
    padding: 10px 10px;
}

.inputBox {
    margin: 15px 15px;
}

.inputField {
    width: 19vw;
    padding: 10px 10px;
    border-bottom: 2px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 4px;
}

.inputField:focus {
    outline: none !important;
    border-color: #67aa7a;
    box-shadow: 0 0 10px #67aa7a;
}

.messageArea {
    display: flex;
    justify-self: center;
    width: 95%;
    border-bottom: 2px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 4px;
}

.messageArea:focus {
    outline: none !important;
    border-color: #67aa7a;
    box-shadow: 0 0 10px #67aa7a;
}

.messageBox {
    display: flex;
    justify-content: center;
}

.submitButtonBox {
    display: flex;
    justify-content: center;
}

.submitButton {
    margin-top: 10px;
    font-size: 20px;
    border-radius: 8px;
    padding: 10px 15px;
    font-weight: 600;
    color: white;
    background-color: black;
    border: 2px solid white;
}

.submitButton:hover {
    font-weight: 600;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 8px;
    margin-top: 10px;
    color: black;
    background-color: white;
    border: 2px solid darkgreen;
}

.contactInfoBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 350px;
    background-color: black;
    padding: 10px 30px;
}

.itemsBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contactInfoTitle {
    font-size: 40px;
    font-weight: 500;
}

.contactNumber {
    font-size: 46px;
    font-weight: 300;
    color: white;
}

.availability {
    font-size: 22px;
    color: rgba(227, 227, 227, 0.714);
    font-weight: 100;
}

.contactAddress {
    font-size: 18px;
    color: white;
}

.contactEmail {
    font-size: 25px;
    color: white;
    font-weight: 300;
}

.leafIcon {
    font-size: 60px;
    color: green;
}


.contactFormAndInfoBreakpoint {
    display: none;
}

.contactUsParagraph {
    padding: 50px 150px;
}


@media screen and (max-width: 921px) {

    .contactFormAndInfo {
        display: none;
    }

    .contactFormAndInfoBreakpoint{
        display: flex;
        flex-direction: column;
    }

    .contactInfoBP {
        display: flex;
        flex-direction: column;
        align-self: center;
        align-items: center;
        width: 70%;
        height: 350px;
        background-color: black;
        padding: 10px 30px;
    }

    .contactFormBP {
        display: flex;
        flex-direction: column;
        align-self: center;
        align-items: center;
        width: 70%;
        height: 350px;
        background-color: black;
        padding: 10px 30px;
    }

    .contactInfoTitle {
        font-size: 30px;
        font-weight: 500;
    }

    .contactNumber {
        font-size: 36px;
        font-weight: 300;
        color: white;
    }
    .availability {
        font-size: 18px;
        color: rgba(227, 227, 227, 0.714);
        font-weight: 100;
    }

    .contactAddress {
        font-size: 14px;
        color: white;
    }

    .contactEmail {
        font-size: 20px;
        color: white;
        font-weight: 300;
    }
    .inputBox {
        margin: 5px 5px;
    }

    .inputField {
        width: 17vw;
        padding: 10px 10px;
        border-bottom: 2px solid black;
        border-top: none;
        border-left: none;
        border-right: none;
        border-radius: 4px;
    }


    .contactUsParagraph {
        padding: 50px 50px;
    }

}


/* HomePage */

.outter {
    display: flex;
    justify-content: center;
    font-size: 45px;
    text-shadow: black 2px 2px 2px;
    padding: 8px 8px;
}

.inner {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

.mediaBreak900 {
    display: none;
}

.mediaBreak500 {
    display: none;
}

@media screen and (max-width: 1200px) {
   
    .inner {
      display: none;
      flex-direction: column;
      justify-content: center;
      align-content: center;
    }

    .mediaBreak900 {
        display: flex;
        justify-content: space-evenly;
        align-content: center;
    }

  }


  @media screen and (max-width: 684px) {
    .inner {
      display: none;
      flex-direction: column;
      justify-content: center;
      align-content: center;
    }

    .mediaBreak900 {
        display: none;
        justify-content: space-evenly;
        align-content: center;
    }

    .mediaBreak500 {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-content: center;
    }

 }


.ImagesMappesBox {
    display: flex;
    width: 100%;
}

.FirstHomepageBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    background-color: rgb(237, 236, 236);
}

#BoxText {
    font-size: 3.8vw;
    color: white;
    text-shadow: black 2px 2px 8px;
    padding: 5px 5px;
}

@media screen and (max-width: 700px) {
    #BoxText {
        font-size: 3.8vw;
        color: white;
        text-shadow: black 2px 2px 8px;
        padding: 10px 10px;
    }
}

.buttonDivLarge {
    font-size: 30px;
    margin-right: 20px;
    border-radius: 5px;
    border: 2px solid green;
    color: green;
 }

 .buttonDivLarge:hover {
    font-size: 30px;
    margin-right: 20px;
    border-radius: 5px;
    border: 2px solid green;
    color: white;
    transform: scale(1.1);
    transition: 1.1s;
    background-color: darkgreen;

 }

 .buttonDivSmall {
    font-size: 15px;
    margin-right: 20px;
    border-radius: 5px;
    border: 2px solid green;
    color: green;
 }

 .buttonDivSmall:hover {
    font-size: 15px;
    margin-right: 20px;
    border-radius: 5px;
    border: 2px solid green;
    color: white;
    transform: scale(1.1);
    transition: 1.1s;
    background-color: darkgreen;
 }


/* Image Slider - Delete */ 


.XStyle2 {
    background: whitesmoke;
    justify-content: right;
    cursor: pointer;
}

.HoverButtonsBS {
    z-index: 3;
}

.HoverButtonsBS:hover{
    z-index: 6
}
.HoverButtonsBS:active{
    z-index: 6
}

.SliderCSSBS {
    position: relative;
    top: 0%;
    margin: 0 auto;
    overflow: hidden;
    width: 1200px;
    height: 900px;
    z-index: 5;
}

.SliderCSSBS:hover {
    z-index: 0;
}

.ViewerBS {
    position: relative;
    width: 1200px;
    height: 900px;
    z-index: 1;
    background: black;
}

/* .SliderContent {
    transform: translateX(-${props => props.translate}px);
    transition: transform ease-out ${props => props.transition}s;
    height: 580px;
    display: flex;
    background: whitesmoke;
} */






/* InfoPanel  */

.fencingInfoPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 140px;
  text-align: center;
}

.fencingInfoPanelTitle {
    font-size: 45px;
    font-weight: 600;
}

.card1 {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 360px;
    height: 240px;
    background: #000;
    border: 3px solid black;
}
.card1 .image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.card1 .image img {
    width: 100%;
    transition: .5s;
}
.card1:hover .image img {
    opacity: .5;
    transform: translateX(30%);/*100%*/
}
.card1 .details {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;/*100%*/
    height: 100%;
    background: #6ec1e4;
    transition: .5s;
    transform-origin: left;
    transform: perspective(2000px) rotateY(-90deg);
}
.card1:hover .details {
    transform: perspective(2000px) rotateY(0deg);
}
.card1 .details .center {
    padding: 5px;
    text-align: center;
    background: whitesmoke;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.card1 .details .center h1 {
    margin: 0;
    padding: 0;
    color: #ff3636;
    line-height: 20px;
    font-size: 20px;
    text-transform: uppercase;
}
.card1 .details .center h1 span {
    font-size: 14px;
    color: #262626;
}
.card1 .details .center p {
    margin: 10px 0;
    padding: 0;
    color: #262626;
    font-size: 12px;
}
.card1 .details .center ul {
    margin: 10px auto 0;
    padding: 0;
    display: table;
}
.card1 .details .center ul li {
    list-style: none;
    margin: 0 5px;
    float: left;
}
.card1 .details .center ul li a {
    display: block;
    background: #262626;
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    transform: .5s;
}
.card1 .details .center ul li a:hover {
    background: #ff3636;
}


@media screen and (max-width: 600px){
    .fencingInfoPanel {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 40px;
        text-align: center;
      }
}


/* Information  */

.fencingInfoPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 140px;
  text-align: center;
}

.fencingInfoPanelTitle {
    font-size: 45px;
    font-weight: 600;
}

.card1 {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 360px;
    height: 240px;
    background: #000;
    border: 3px solid black;
}
.card1 .image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.card1 .image img {
    width: 100%;
    transition: .5s;
}
.card1:hover .image img {
    opacity: .5;
    transform: translateX(30%);/*100%*/
}
.card1 .details {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;/*100%*/
    height: 100%;
    background: #6ec1e4;
    transition: .5s;
    transform-origin: left;
    transform: perspective(2000px) rotateY(-90deg);
}
.card1:hover .details {
    transform: perspective(2000px) rotateY(0deg);
}
.card1 .details .center {
    padding: 5px;
    text-align: center;
    background: whitesmoke;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.card1 .details .center h1 {
    margin: 0;
    padding: 0;
    color: #ff3636;
    line-height: 20px;
    font-size: 20px;
    text-transform: uppercase;
}
.card1 .details .center h1 span {
    font-size: 14px;
    color: #262626;
}
.card1 .details .center p {
    margin: 10px 0;
    padding: 0;
    color: #262626;
    font-size: 12px;
}
.card1 .details .center ul {
    margin: 10px auto 0;
    padding: 0;
    display: table;
}
.card1 .details .center ul li {
    list-style: none;
    margin: 0 5px;
    float: left;
}
.card1 .details .center ul li a {
    display: block;
    background: #262626;
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    transform: .5s;
}
.card1 .details .center ul li a:hover {
    background: #ff3636;
}


@media screen and (max-width: 600px){
    .fencingInfoPanel {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 40px;
        text-align: center;
      }
}


/*  Irrigation  */

.irrigationTitle {
    display: flex;
    justify-content: center;
    font-size: 40px;
}


/*   Menu   */

/* Menu CSS */
a {
    text-decoration: none;
}

a:visited{
    color: white;
}

.navbarClass {
    background-color: red;
}

/* .Menu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 28px;
    background-color: #194b1e;
} */

/* #navbar-color {
    background-color: #194b1e;
}

#basic-nav-dropdown {
    color: white;
    font-size: 2.2vw;
    margin-top: -2px;
    transition: all .2s ease-in-out;
    padding-left: 45px;

}

#basic-nav-dropdown:hover {
    transform: scale(1.1);
    color: lightgreen;
}

#nav-link {
    color: white;
    transition: all .2s ease-in-out;
    font-size: 2.2vw;
    padding-left: 45px;
    text-decoration: none;
}

#nav-link:hover {
    transform: scale(1.1);
    color: lightgreen;
} */

.ddItem {
    font-size: 24px;
}

.ddItem:active {
    font-size: 24px;
    background-color:#194b1e;
    color: white;
}

#button-color {
    background-color: white;
}

#button-color:hover {
    background-color: #194b1e;
    color: white;
}

.MenuInfo {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: white;
    margin-top: 10px;
    margin-right: 20px;
}

.MenuItem {
    display: flex;
    justify-content: right;
    padding: 5px;
    font-size: 1.8vw;
    font-family: Cochin;
}

.InfoAndMenu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.socialIconBar {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.socialIcons {
    margin: 15px;
    transition: all .2s ease-in-out;
}

.socialIcons:hover{
    transform: scale(2.1);
    color: lightblue;
}


#email {
    color: white;
}

#email:hover {
    color: lightblue;
    text-decoration: none;
}

#phone {
    color: white;
}

#phone:hover {
    color: lightblue;
    text-decoration: none;
}

.navLink:visited{
    color: black;
}

#navbar-color{
    z-index: 10;
    border-radius: 20px;;
}

.header {
    display: flex;
    background-color: #194b1e;
    height: 300px;
    width: 100%;
    justify-content: space-between;
}


.headerLogo {
    top: 5px;
    left: 1px;
    height: 220px;
    width: 220px;
}

@media screen and (max-width: 600px) {

    .MenuInfo{
        display: none;
    }
    .header {
        background-color: #194b1e;
        height: 200px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .headerLogo {
        top: 5px;
        left: 1px;
        height: 40.6vw;
        width: 40.6vw;
    }
}

@media screen and (max-width: 992px){

    .Menu {
        position: absolute;
        top: 15%;
        left: 35%;
        width: 35vw;
        z-index: 5;
        background-color: #194b1e;
        align-self: flex-start;
        border-radius: 10px;
    }

    .collapse {
        width: 35vw;
        border: 1px solid white;
        z-index: 5;
        border-radius: 10px;
        background-color: #194b1e;
    }

    #navbar-color {
        background-color: #194b1e;
    }

    #nav-link {
        margin-left: 4px;
        padding: 5px 5px;
    }

    #basic-nav-dropdown {
        margin-left: 4px;
        padding: 5px 5px;
    }

    .ddItem {
        margin-left: 5px;
        font-size: 2.2vw;
        width: 95%;
    }
}


/*    OurProcess   */
.ourProcess {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.steps {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    width: 12vw;
    height: 12vw;
    margin: 5px 5px;
    border-radius: 50%;
    font-size: 1.4vw;
    text-align: center;
    border: 4px solid darkgreen;
}

.steps:hover {
    background-color: darkgreen;
    color: white;
    border: 4px solid black;
    
}

.processTitle {
    display: flex;
    justify-content: center;
    font-size: 4vw;
    font-weight: 700;
}

.modalBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 16vw;
    width: 40vw;
    margin-left: 50px;
    margin-top: 30px;
    padding: 15px 30px;
    border-radius: 15px;
    background-color: whitesmoke;
    box-shadow: black 2px 2px 8px;
}

.theModal {
    display: flex;
    justify-content: center;
    margin-top: 18px;
}

.modalDescription {
    display: flex;
    text-align: center;
    font-size: 1.3vw;
}


.modalTitle {
    display: flex;
    justify-content: center;
    top: 5px;
    font-size: 2vw;
    font-weight: 600;
    margin-bottom: 20px;
}

#row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#row1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#column {
    display: flex;
    flex-direction: column;
}

.tools {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 800px) {
    #row1 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .modalBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        height: 26vw;
        width: 80vw;
        margin-left: 50px;
        margin-top: 30px;
        padding: 15px 30px;
        border-radius: 15px;
        background-color: whitesmoke;
        box-shadow: black 2px 2px 8px;
    }
 
    .modalDescription {
        display: flex;
        text-align: center;
        font-size: 2.3vw;
    }

    .steps {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: whitesmoke;
        width: 19vw;
        height: 19vw;
        margin: 5px 5px;
        border-radius: 50%;
        font-size: 2.4vw;
        text-align: center;
        border: 4px solid darkgreen;
    }
    
    .steps:hover {
        background-color: darkgreen;
        color: white;
        border: 4px solid black;
        
    }
}


/*  Portfolio */

.portfolioTitle h1 {
    display: flex;
    justify-content: center;
    font-size: 80px;
    font-weight: 100;
    margin-top: 15px;
    text-align: center;

}

.portfolioBlock {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.portfolioProjects {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px 10px;
}

.portfolioImage {
    display: flex;
    justify-content: space-evenly;
    height: 350px;
    width: 350px;
    border: solid black 2px;
    border-radius: 20px;
}

.portfolioBody {
    display: none;

}

.portfolioBody:hover {
    display: flex;
    position: absolute;
    flex-direction: column;
    text-align: center;
    height: 220px;
    width: 320px;
    margin-top: 10px;
    margin-right: 0px;
    margin-left: 15px;
    padding: 12px 10px;
    background-color: rgba(58, 58, 58, 0.564);
    color: white;
    text-shadow: black 2px 2px 8px;
    border-radius: 9px;
}

.portfolioImage:hover + .portfolioBody {
    display: flex;
    position: absolute;
    flex-direction: column;
    text-align: center;
    height: 220px;
    width: 320px;
    margin-top: 10px;
    margin-left: 15px;
    padding: 12px 10px;
    background-color: rgba(58, 58, 58, 0.564);
    color: white;
    text-shadow: black 2px 2px 8px;
    border-radius: 9px;

}

/* ~~~~~~~ INIT. BTN2 ~~~~~~~ */

.btn2 {
	position: absolute;
	padding: 15px 8px;
	padding-right: 4px;
	font-size: 1.4rem;
	border-radius: 18px;
	color: white;
	letter-spacing: .5rem;
	text-transform: uppercase;
	transition: all 600ms cubic-bezier(0.77, 0, 0.175, 1);
	cursor: pointer;
	user-select: none;
    width: 13em;
    border: 1px solid white;
    border-right: 0px;
    margin: 12px 2px;
    z-index: 20;
}

.btn2:before, .btn2:after {
	content: '';
	position: absolute;
	transition: inherit;
	z-index: -1;
	border-radius: 19px;
}

.btn2:hover {
	color: white;
	transition-delay: .1s;
}

.btn2:hover:before {
	transition-delay: 0s;
}

.btn2:hover:after {
    background:linear-gradient(to right, #98c89a4f 1%,
#0d3512 100%, #ffffff 3%);
	transition-delay: .5s;
}

/* From Left */

.from-left2:before,
.from-left2:after {
	top: 0;
	width: 0;
	height: 100%;
}

.from-left2:before {
	right: 0;
	border: 2px solid white;
	border-left: 0;
	border-right: 0;
}

.from-left2:after {
	left: 0;
}

.from-left2:hover:before,
.from-left2:hover:after {
	width: 100%;
}

@media screen and (max-width: 744px) {
    .portfolioBlock {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
    }
}


/*  Project   */ 

.projectImage {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 300px;
    width: 300px;
    margin: 10px 10px;
    border: solid black 2px;
    border-radius: 12px;
    background-size: cover;
    overflow: hidden;
}

.projectBody {
    display: none;
}

.projectBody:hover {
    display: flex;
    position: absolute;
    margin-top: -150px;
    flex-direction: column;
    font-size: 14px;
    color: white;
    text-shadow: black 2px 2px 8px;
}

.projectImage:hover + .projectBody {
    display: flex;
    position: absolute;
    margin-top: -150px;
    flex-direction: column;
    /* margin-top: -150px; */
    color: white;
    text-shadow: black 2px 2px 8px;
}

.projectButton {
    color: darkgreen;
    width: 150px;
    font-size: 14px;
    background-color: white;
    border-color: darkgreen;
    padding: 1px 1px;
    border-radius: 5px;
    margin-left: 7px;
    transition: all .2s ease-in-out;
}

.projectButton:hover {
    border-radius: 5px;
    width: 150px;
    padding: 1px 1px;
    color: white;
    font-size: 14px;
    background-color: darkgreen;
    border-color: white;
    margin-left: 7px;
    transform: scale(1.1);
}

.projects {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.featuredProject {
    display: flex;
    position: absolute;
}

.imageSection {
    background-color: rgba(0, 0, 255, 0);
}

.modal-content{
    background-color: rgba(255, 0, 0, 0);
}

.successButton {
    color: white;
    background-color: rgba(0, 0, 0, 0.208);
    text-shadow: 2px 2px 8px black;
    border: 2px solid white;
    width: 150px;
    margin-left: 20px;
    transition: all .2s ease-in-out;
}

.successButton:hover {
    color: darkgreen;
    background-color: white;
    text-shadow: none;
    border: 2px solid darkgreen;
    transform: scale(1.2);
}


/*  Review Carousel */
.carouselImage {
    height: 200px;
    width: 500px;
    padding-bottom: 50px;
}

 .reviewsCarousel {
     height: 200px;
     width: 500px;
 }

 span.carousel-control-next-icon {
    content: '<';
    font-size: 25px;
    background-color: blue;
    color: black;
    padding-left: 40px;

}

span.carousel-control-prev-icon {
  content: '>';
  font-size: 25px;
  background-color: blue;
  color: black;
  padding-right: 40px;
}

.carousel-indicators li.active {
    background-color: blue;
}

ol.carousel-indicators {
    background-color: red;
}


/* Menu  */
  
  .nav-area {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 20px;
    justify-content: space-around;

  }
  
  .logo {
    text-decoration: none;
    font-size: 25px;
    color: inherit;
    margin-right: 20px;
  }
  
  .menus {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    font-size: 1.4em;


  }
  
  .menu-items {
    position: relative;
    color: white;

  }
  
  .menu-items a {
    display: block;
    font-size: inherit;
    color: inherit;
    text-decoration: none;
  }
  
  .menu-items button {
    display: flex;
    align-items: center;
    color: inherit;
    font-size: inherit;
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 100%;
  }
  
  button span {
    margin-left: 3px;
  }
  
  .menu-items > a, .menu-items button {
    text-align: left;
    padding: 0.7rem 1rem;
  }
  
  .menu-items a:hover,
  .menu-items button:hover {
    color:green;
    background-color: #f2f2f2;
  }
  
  .arrow::after {
    content: "";
    display: inline-block;
    margin-left: 0.28em;
    vertical-align: 0.09em;
    border-top: 0.42em solid;
    border-right: 0.32em solid transparent;
    border-left: 0.32em solid transparent;
  }
  
  .dropdown {
    position: absolute;
    right: 0;
    left: auto;
    box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08),
      0 4px 6px -2px rgba(71, 63, 79, 0.16);
    font-size: 0.875rem;
    z-index: 9999;
    min-width: 15rem;
    padding: 0.5rem 0;
    list-style: none;
    background-color:#184b1d;
    border-radius: 0.5rem;
    display: none;
  }
  
  .dropdown.show {
    display: block;
  }
  
  .dropdown .dropdown-submenu {
    position: absolute;
    left: 100%;
    top: -7px;
  }
  
  /* content */

  .content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 20px;
  }
  
  .content h2 {
    margin-bottom: 1rem;
  }
  
  .content a {
    color: #cc3852;
    margin-right: 10px;
  }

  .topLevelMenu {
    display: flex;
    flex-direction: column;
  }

  .nav {
    display: flex;
    justify-items: center;
    justify-content: space-around;
    font-size: 26px;
    
  }

  #menu-items-dd{
    font-size: 26px;
  }